@use 'base/mixins' as m;
@use 'base/variables' as v;

.users{
    padding: 6rem 0 12rem 0;
    background-color: v.$paleBlue;
    &__grid{
        @include m.grid(1, 3rem);
        align-items: center;
        @include m.tablet { 
            @include m.grid(2, 4rem);
        }
    }
    &__img{
        @include m.tablet { 
            grid-column: 2 / 3;
        }
    }
    &__content{
        @include m.tablet { 
            grid-row: 1 / 2;
        }
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }
    &__heading{
        font-size: 1.6rem;
        color: v.$neutral;
        font-weight: 700;
        @include m.tablet { 
            font-size: 3.5rem;
        }
    }
    &__text{
        margin: 0;
    }
    &__wave{
        position: relative;
        top: -65px;
    }
    
}