// Fuentes
// heading
$fuenteHeading: 'Poppins', sans-serif;
$fuentePrincipal: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1280px;

// Colores
$pink: hsl(322, 100%, 66%);
$lightPink:  hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
$neutral: hsl(192, 100%, 9%);
$paleBlue: hsl(207, 100%, 98%);
$gris: #484349;
$grisClaro: #F2F2F2;
$negro: #000;
$blanco: #fff;