@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    padding: 1rem 0 2rem 0;
    background-color: v.$neutral;
    &__grid{
        padding: 3rem;
        @include m.grid(1, 3rem);
        align-items: center;
        @include m.tablet { 
            @include m.grid(5, 2rem);
            justify-content: center;
        }
    }
    &__content{
        @include m.tablet { 
            grid-column: 1 / 3;
        }
    }
    &__text,
    &__title,
    &__mail,
    &__phone,
    &__tag{
        color: v.$blanco;
    }
    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__logo{
        width: 20rem;
        margin-bottom: 3rem;
    }
    &__title{
        text-transform: uppercase;
        margin: 0;
        @include m.tablet { 
            font-size: 3rem;
        }
    }
    &__text{
        margin: 0;
        font-size: 1.5rem;
    }

    &__phone{
        margin:0 0 0 3rem;
        &::before{
            margin: 0;
            content: '';
            position: relative;
            background-image: url(../img/icon-phone.svg);
            display: block;
            width: 5rem;
            height: 5rem;
            background-repeat: no-repeat;
            background-position: center;
            top: 34px;
            left: -45px;
            
            // @include m.tablet { 
            //     top: 1410px;
            //  }
            }
    }
    &__mail{
        margin:0 0 0 3rem;
        &::before{
            content: '';
            position: relative;
            background-image: url(../img/icon-email.svg);
            display: block;
            width: 5rem;
            height: 5rem;
            background-repeat: no-repeat;
            background-position: center;
            top: 39px;
            left: -45px;
            // @include m.tablet { 
            //     top: 1410px;
            //  }
            }
    }
    // ! sociales
    &__sociales{
        margin-top: 4rem;
    }
    

    &__tag{
        max-width: 35rem;
        font-size: 1.5rem;
        text-align: left;
        
    }
    &__form{
        grid-row: 1 / 2;
        @include m.tablet { 
            grid-column: 4 / 6; 
        }
    }
    &__input{
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        @include m.tablet { 
            max-width: 28rem;
            padding: 1.5rem;
            margin-left: 1rem;
        }
    }
    &__submit{
        all: unset;
        @include m.boton(v.$pink, v.$blanco);
        font-size: 1.8rem;
        padding: 1.4rem 3.5rem;
        border-radius: 0;
        margin-left: 15.6rem;
        margin-bottom: 9rem;
        @include m.tablet { 
            @include m.boton(v.$pink, v.$blanco);
            display: inline;
            border-radius: 0;
            margin-left: 2rem;
            margin-bottom: 0;
        }
    }
    &__attribution,
    &__copy{
        text-align: center;
        color: v.$blanco;
    }
    &__wave{
        position: relative;
        top: -50px;
        @include m.tablet{
            top:-90px;
        }
        @include m.desktop { 
            top: -140px;
        }
    }
}
ion-icon {
    color: v.$blanco;
    margin-left: 1rem;
    --ionicon-stroke-width: 16px;
  }
